/* HOME PAGE ELEMENT SELECTOR */

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6   {
  font-family: 'Jura', sans-serif;
  font-weight: 800;
  text-align: center;
  color: #0F4F34;
}

.role {
  color: #00A064;
}

p {
  color: #40514e;
}



/* Headings */

.big-heading {
  font-family: 'Jura', sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #0F4F34;
  margin-top: 80px;
  margin-bottom: 0;
}



.big-heading-white {
  font-family: 'Jura', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  margin-top: 60px;
}

.section-heading1 {
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 100px;
}

.section-heading2 {
  font-size: 3rem;
  line-height: 1.5;
}

.introduction {
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
  color: #40514e;
  font-size: 1rem;
  line-height: 1.5;

}


/* Sections */

.colored-section {
  background-color: #D7F5D3;
}

.white-section {
background-color: #fff;
}

.footer-section {
  background-color: #0F4F34;
  margin: 0%;
  padding: 10px;
}


/* Navigation Bar */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0F4F34;
  z-index: 10;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  color:#fff;
  padding: 12px;
}


.nav-link:hover {
  display: flex;
  margin-right: 2rem;
  color:#C1E1C1;
}

.nav-fa {
  margin-right: 5px;
}


@media (max-width: 28.75em) {
  .nav {
    justify-content: space-between;
  }

  .nav-link {
    margin: 2rem;
  }
}


/* Title Section */
.container-fluid {
  padding: 0 7px;
  text-align: left;
}

.navbar {
  background-color: #0F4F34;
}
/* Toggle button */
.navbar-toggler {
  background-color: #ffffff;
}


/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.profile-pic {
  width: 3%;
  position: inline-block;
  right: 100%;
  transform: translate(0%, 10%);
}

.profile-background {
  width: 50%;
  margin: auto;
  background-color: #fff;
  margin-top: 50px;
}

/* About Me Section */

#about-me {
  position:relative;
  z-index: 1;
  margin-top: 100px;
}

.about-me-title {
  font-size: 1.5rem;
}

.divider {
  width: 40%;
  margin: auto;
  border: 1px solid;
  border-color: #0F4F34;
  border-radius: 10px;
  opacity: 0.80;
  margin-bottom: 20px;
}

.icon {
  color: #0F4F34;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #00A064;
}

.about-me-box  {
  padding: 2.5%;
}

/* Skills Section */

.skills {
display: inline-block;
margin: 0%;
padding: 35px 50px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.skills-set {
  padding: 25px;
}

.skills-row {
  text-align: center;
}

.checked, .half {
  color: gold;
}

.unchecked {
  color: #FFFACD;
}

.skills-statement {
  padding: 2.5%;
  margin-top: 0;
}

/*CTA / Footer Section*/

.btn {
  display: inline-block;
  padding: 10px 25px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #96DD99;
}


.footer {
  height: 200px;
  padding: 20px;
  text-align: center;
}

.footer-icon {
  margin: 20px 10px;
  color:#31FF96;
}

.footer-icon:hover {
    color:#e4e1e2;
}

.copyright {
  font-size: 12px;
  color: #ffffff;
}


/* CONTACT PAGE ELEMENT SELECTOR */

#cta-heading {
  margin-bottom: 70px;
}

.cta-icon {
  margin-top: 60px;
  width: 55%;
}

#cta-form {
  background-color: #00A064;
  width: 80%;
  padding: 30px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 60px;
}

label {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #fff;
}

#message {
  min-height: 120px;
  padding: 0.625rem;
  resize: vertical;
}

input, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
}

.btn-send {
  display: inline-block;
  padding: 10px 25px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: #0F4F34;
  border: 1px solid #0c3f2a;
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
}

.btn-send:hover {
  background-color: #136341;
}


@media screen and (max-width: 768px) {
  .cta-icon {
    margin-bottom: 40px;
  }
}


/* PROJECT PAGE ELEMENT SELECTOR */

#project-column {
  margin-top: 60px;
  margin-bottom: 60px;
}

.code {
color: #fff;
transition: color 0.3s ease-out;
}

.project-title:hover .code {
  color: #136341;
}

.project-image {
height: calc(100% - 4rem);
width: 80%;
object-fit: cover;
margin: auto;
}

.project-title {
font-size: 20px;
padding: 1rem 0.5rem;
background: #00A064;
box-shadow: 1px 1px 2px #00A064;
border-radius: 2px;
width: 80%;
margin: auto;
color: #fff;
}


/* PROFILE PAGE ELEMENT SELECTOR */


.image {
width: 50%;
margin: 0 auto;
margin-top: 120px;
margin-left: 60px;
padding-bottom: 20px;
padding-right: 70px;
}


.profile-text {
padding: 80px 40px 50px 10px;
margin: 0 auto;
color: #fff;
line-height: 1.5rem;
text-align: justify;
}

