/* ELEMENT SELECTOR */


body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6   {
  font-family: 'Jura', sans-serif;
  font-weight: 800;
  text-align: center;
  color: #0F4F34;
}

.role {
  color: #00A064;
}

p {
  color: #40514e;
}



/* Headings */

.big-heading {
  font-family: 'Jura', sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #0F4F34;
  margin-top: 60px;
}


.big-heading-white {
  font-family: 'Jura', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  margin-top: 60px;
}

.section-heading1 {
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 100px;
}

.section-heading2 {
  font-size: 3rem;
  line-height: 1.5;
}

.introduction {
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
  color: #40514e;
  font-size: 1rem;
  line-height: 1.5;

}




/* Sections */

.colored-section {
  background-color: #D7F5D3;
}

.white-section {
background-color: #fff;
}

.footer-section {
  background-color: #0F4F34;
  margin: 0%;
  padding: 10px;
}


/* Navigation Bar */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0F4F34;
  z-index: 10;
  
}

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  color:#fff;
  padding: 12px;
}


.nav-link:hover {
  display: flex;
  margin-right: 2rem;
  color:#C1E1C1;
}

.nav-fa {
  margin-right: 5px;
}


@media (max-width: 28.75em) {
  .nav {
    justify-content: space-between;
  }

  .nav-link {
    margin: 2rem;
  }
}




/* Title Section */


.container-fluid {
  padding: 0 7px;
  text-align: left;
  background-color: #fff;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.profile-pic {
  width: 3%;
  position: inline-block;
  right: 100%;
  transform: translate(0%, 10%);
}

.profile-background {
  width: 50%;
  margin: auto;
  background-color: #fff;
}

/* About Me Section */

#about-me {
  position:relative;
  z-index: 1;
  margin-top: 100px;
}

.about-me-title {
  font-size: 1.5rem;
}

.icon {
  color: #96DD99;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #8FBC8F;
}

.about-me-box  {
  padding: 2.5%;
}

/* Skills Section */

.skills {
display: inline-block;
margin: 0%;
padding: 35px 50px;
margin-left: 10px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.skills-set {
  padding: 25px;
}

.skills-row {
  text-align: left;
}

.checked, .half {
  color: gold;
}

.unchecked {
  color: #FFFACD;
}

.skills-statement {
  padding: 2.5%;
  margin-top: 0;
}

/*CTA / Footer Section*/

.btn {
    height: 40px;
    width: 150px;
    font-size: 15px;
    text-align: center;
    justify-content: flex-end;
    background: #96DD99;
    border:0px;
    color: #0F4F34;
    bottom: 0;
    margin: 4px 2px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 0 1px #96DD99;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 0px 0px 0 0 #0F4F34 inset , 0px 0px 0 #0F4F34 inset;
}

.btn:hover {
    -webkit-box-shadow: 0px 50px 0 0px #e4e1e2 inset , 0px -50px 0 0px #e4e1e2 inset;
}



.footer {
  height: 200px;
  padding: 20px;
  text-align: center;
}

.footer-icon {
  margin: 20px 10px;
  color:#31FF96
}

.footer-icon:hover {
    color:#e4e1e2;
}

.copyright {
  font-size: 12px;
  color: #ffffff;
}
