/* HOME PAGE ELEMENT SELECTOR */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6   {
  font-family: 'Jura', sans-serif;
  font-weight: 800;
  text-align: center;
  color: #0F4F34;
}

.role {
  color: #00A064;
}

p {
  color: #40514e;
}

a {
  text-decoration: none;
}

.green-dark {
  background-color: #0F4F34;
}

.white {
  color: #fff;
}
/* END - HOME PAGE ELEMENTS */


/* HEADINGS*/

.big-heading {
  font-family: 'Jura', sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #0F4F34;
  margin-top: 80px;
  margin-bottom: 0;
}

.big-heading-white {
  font-family: 'Jura', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  margin-top: 60px;
}

.section-heading1 {
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 100px;
}

.section-heading2 {
  font-size: 3rem;
  line-height: 1.5;
}

.introduction {
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
  color: #40514e;
  font-size: 1rem;
  line-height: 1.5;

}

/* END - HEADINGS*/


/* PAGE SECTIONS */

.colored-section {
  background-color: #D7F5D3;
}

.white-section {
background-color: #fff;
}

.footer-section {
  background-color: #0F4F34;
  margin: 0%;
  padding: 10px;
}

/* END - PAGE SECTIONS */


/* NAVIGATION BAR SECTIONS */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0F4F34;
  z-index: 10;
}

.container-fluid-nav {
margin-left: 15px;
}


.nav-link {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  color:#fff;
  padding: 12px;
}

.nav-link:hover {
  display: flex;
  margin-right: 2rem;
  color:#C1E1C1;
}

.nav-fa {
  margin-right: 5px;
}

.navbar {
  background-color: #0F4F34;
}

/* This is for the toggle button */
.navbar-toggler {
  background-color: #ffffff;
}


@media (max-width: 28.75em) {
  .nav {
    justify-content: space-between;
  }

  .nav-link {
    margin: 2rem;
  }
}

/* END - NAVIGATION BAR SECTIONS */


/* TITLE SECTION */

.container-fluid {
  padding: 0 7px;
  text-align: left;
  position: relative;
  animation: mymove 1s;
}

@keyframes mymove {
  from {top: 50px;}
  to {top: 0px;}
}



.logo {
    width: 100%;
    max-width: 100px;
    margin-top: 90px;
    margin-left: 150px;
    position: absolute;
}

.profile-background {
  width: 100%;
  max-width: 850px;
  height: auto;
  margin-top: 70px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}



 @media screen and (max-width: 880px) {
.logo {
  position: relative;
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
}

.big-heading-white {
  margin-top: 0;
}

}
  
/* END - TITLE SECTION */



/* ABOUT ME SECTION */

#about-me {
  position:relative;
  z-index: 1;
  margin-top: 100px;
}

.about-me-title {
  font-size: 1.5rem;
}

.divider {
  width: 40%;
  margin: auto;
  border: 1px solid;
  border-color: #0F4F34;
  border-radius: 10px;
  opacity: 0.80;
  margin-bottom: 20px;
}

.icon {
  color: #0F4F34;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #00A064;
}

.about-me-box  {
  padding: 2.5%;
}

/* END - ABOUT ME SECTION */



/* SKILLS SECTION */

.skills {
display: inline-block;
margin: 0%;
padding: 35px 50px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.skills-set {
  padding: 25px;
}

.skills-row {
  text-align: center;
}

.checked, .half {
  color: gold;
}

.unchecked {
  color: #FFFACD;
}

.skills-statement {
  padding: 2.5%;
  margin-top: 0;
}

/* END - SKILLS SECTION */



/* CTA/FOOTER SECTION */

.btn {
  display: inline-block;
  padding: 10px 25px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #96DD99;
}

.footer {
  height: 200px;
  padding: 20px;
  text-align: center;
}

.footer-icon {
  margin: 20px 10px;
  color:#31FF96;
}

.footer-icon:hover {
    color:#e4e1e2;
}

.copyright {
  font-size: 12px;
  color: #ffffff;
}

/* CTA/FOOTER SECTION */


/* PROJECT PAGE ELEMENT SELECTOR */

#project-column {
  margin-top: 60px;
  margin-bottom: 60px;
}

.code {
color: #FFEA00;
transition: color 0.2s ease-out;
}

.project-title:hover .code {
  color: #ccbb00;
}

.project-image {
  height: auto;
  max-width: 600px;
  width: 100%;
}

.project-title {
font-size: 20px;
padding: 1rem 0.5rem;
background: #00A064;
box-shadow: 1px 1px 2px #00A064;
border-radius: 2px;
width: 100%;
max-width: 600px;
color: #fff;
margin: auto;
}

.container-image {
  position: relative;
}

.proj-button-left {
  position: absolute;
  top: 50%;
  left: 10px;
  border: 1px solid #00a064;
  padding: 5px 10px;
  border-radius: 4px 0 0 4px;
}

.proj-button-right {
  position: absolute;
  top: 50%;
  right: 10px;
  border: 1px solid #00a064;
  padding: 5px 10px;
  border-radius: 0px 4px 4px 0;
}

.proj-button-left:hover, .proj-button-right:hover {
  background: #00ba74;
  border: 1px solid #00a064;
}


/* END - PROJECT PAGE ELEMENT */


/* PROFILE PAGE ELEMENT SELECTOR */

.image {
width: 50%;
margin: 0 auto;
margin-top: 120px;
margin-left: 60px;
padding-bottom: 10px;
padding-right: 70px;
}

.profile-text {
padding: 80px 40px 50px 10px;
margin: 0 auto;
color: #fff;
line-height: 1.5rem;
text-align: justify;
}

.profile-image {
  width: 70%;
  max-width: 400px;
  height: auto;
  margin-top: 80px;
  }


.div-spacing {
  margin-bottom: 80px;
}

/* END - PROFILE PAGE ELEMENT */


/* SKILLS PAGE ELEMENT SELECTOR */

.list-skills {
  margin: auto;
  text-align: justify;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 70px;
}

.skills-description {
  text-align: center;
  padding-top: 20px;
}

.divider-spacing {
  margin-top: 70px;
}

em {
  font-weight: bold;
}

/* END - SKILLS PAGE ELEMENT */



/* CONTACT PAGE ELEMENT SELECTOR */

#cta-heading {
  margin-bottom: 70px;
}

.cta-icon {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 80px;
}

#cta-form {
  background-color: #00A064;
  width: 90%;
  padding: 30px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 60px;
}

label {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #fff;
}

#message {
  min-height: 120px;
  padding: 0.625rem;
  resize: vertical;
}

input, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
}

.btn-send {
  display: inline-block;
  padding: 10px 25px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: #0F4F34;
  border: 1px solid #0c3f2a;
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
}

.btn-send:hover {
  background-color: #136341;
}

/* END - CONTACT PAGE ELEMENT */


/* FORM VALIDATION */
.invalid-feedback {
  display: none;
  color: #FFEA00;
}

.empty-feedback {
  display: none;
  color: #FFEA00
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #CD001A;
}

/* END - FORM VALIDATION */


/* THANK YOU PAGE ELEMENT SELECTOR */

.ty-envelope {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 70px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 70px;
}
/* END - THANK YOU PAGE ELEMENT */
